@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Do+Hyeon");

p {
  font-family: "Mplus 1p";
}

html {
  width: 100%;
  height: 100%;
  margin: 0px;
}
h2 {
  font-family: "Titillium Web", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  background-color: whitesmoke;
  font-family: "Mplus 1p";
  background: black;
}

section {
  margin: 0px;
  padding: 0px;
  background: black;
  min-height: 100vh;
  padding-bottom: 36px;
  font-family: "Mplus 1p";
}

p {
  font-size: 20px;
}

.discreption__image-box > img {
  width: 100%;
  height: 100%;
}

.navbar {
  align-items: center;
  background-color: black;
  color: white;
  padding-top: 8px;
  padding-bottom: 4px;
  min-height: 56px;
  box-shadow: none;
}

.navbar-menu {
  background-color: black;
  padding-left: 24px;
}

.header__nav {
  display: flex;
  margin-right: 16px;
  font-family: "Titillium Web", sans-serif;
}

.header__nav > a {
  color: white;
}

.header__logo {
  width: 128px;
}

.about {
  background-color: black;
  color: white;
  width: 100%;
  padding: 32px;
}
.navbar-burger {
  color: white;
}
.discreption__text {
  margin-top: 64px;
}

section {
  background-color: whitesmoke;
  min-height: 100vh;
}

.keyvisual-section {
  margin-top: 0px;
  padding-bottom: 0px;
  background-color: black;
}

.section__title {
  text-align: center;
}

.firstview {
  width: 100%;
  height: 100%;
  background-image: url("../img/demo1/stonePatternBump.jpg");
}

.keyvisual-section {
  position: relative;
}

#model {
  position: absolute;
}

.keyvisual-titles {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.kv__title {
  color: white;
  font-size: 36px;
}

.kv__subtitle {
  color: white;
  font-size: 24px;
}

.discreption {
  display: flex;
}

.discreption--image-left > .discreption {
  flex-direction: row-reverse;
}

section > h2 {
  font-size: 36px;
  padding-top: 18px;
  margin-bottom: 36px;
}

.discreption > * {
  padding: 8px;
}

.discreption__image-box {
  text-align: center;
  width: 30%;
  margin: auto;
}

.discreption__image {
  width: 100%;
}

.contents {
  padding: 16px;
}

.tech__columns {
  /* padding: 4px; */
}

.tech__columns > .card {
  /* margin-right: 4px;
  margin-left: 4px; */
  /* padding: 16px; */
}

/* .card {
  padding: 24px;
} */

.image {
  text-align: center;
  margin: auto;
}

.developing {
  background-color: whitesmoke;
}

.developing > .discreption__image-box {
  width: 50%;
}

.system__image {
  width: 80%;
}

.system__image > img {
  width: 100%;
}

.experience {
  /* background-color: black; */
  height: auto;
  min-height: 0px;
  text-align: center;
}

.tile.is-ancestor {
  margin: 0px;
}

.developing {
  text-align: center;
}

.aboutus {
  position: relative;
  padding-bottom: 0px;
}

.aboutus > .section__title {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  color: white;
}

.columns {
  margin: 0px;
}

.column {
  margin: 0px;
}

.discreption__text {
  text-align: center;
}

.m19slink {
  color: white;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  color: white;
  top: 95%;
  text-align: center;
  font-size: 16px;
}

.m19slogo {
  /* position: absolute;
  left: 50%;
  top: 10%;
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%); */
  width: 512px;
  height: 512px;
  margin: 0px;
  text-align: center;
}

.wrapper {
  min-height: 100vh;
  background-color: black;
}

.m19sdiscription {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 10%;
  text-align: center;
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);

  /* display: flex; */
}

.m19sdiscription > .discreption__text {
  position: absolute;
  color: white;
  width: 80%;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  color: white;
  text-align: center;
}

@media only screen and (max-width: 769px) {
  .m19sdiscription > .discreption__text {
    margin-top: 0px;
    width: 80%;
    top: 100%;
  }
  .m19slink {
    top: 90%;
  }

  .m19slogo {
    width: 300px;
    height: 300px;
    margin: 0px;
    text-align: center;
  }
}
